In [1]:
import re
import zomatopy
import json

#Reading quantitative texts
file = open('all_cities.txt',mode='r', encoding="utf8")

 
# read all lines at once
quantitative_sent = file.read()
quantitative_sent = re.sub(r"[\n\t\s]*", "", quantitative_sent)
 
# close the file
file.close()

In [2]:
quantitative_sent = quantitative_sent.lower().split(',')

In [3]:
quantitative_sent

['bangalore',
 'chennai',
 'delhi',
 'hyderabad',
 'kolkata',
 'mumbai',
 'ahmedabad',
 'pune',
 'kochi',
 'agra',
 'ajmer',
 'aligarh',
 'amravati',
 'amritsar',
 'asansol',
 'aurangabad',
 'bareilly',
 'belgaum',
 'bhavnagar',
 'bhiwandi',
 'bhopal',
 'bhubaneswar',
 'bikaner',
 'bilaspur',
 'bokaro',
 'chandigarh',
 'coimbatore',
 'nagpur',
 'cuttack',
 'dehradun',
 'dhanbad',
 'bhilai',
 'durgapur',
 'erode',
 'faridabad',
 'firozabad',
 'ghaziabad',
 'gorakhpur',
 'gulbarga',
 'guntur',
 'gwalior',
 'jhansi',
 'jodhpur',
 'kakinada',
 'kannur',
 'kanpur',
 'kottayam',
 'kolhapur',
 'kollam',
 'kozhikode',
 'kurnool',
 'ludhiana',
 'lucknow',
 'madurai',
 'malappuram',
 'mathura',
 'goa',
 'mangalore',
 'meerut',
 'moradabad',
 'mysore',
 'nanded',
 'nashik',
 'nellore',
 'noida',
 'palakkad',
 'patna',
 'perinthalmanna',
 'pondicherry',
 'purulia',
 'prayagraj',
 'raipur',
 'rajkot',
 'rajahmundry',
 'ranchi',
 'rourkela',
 'salem',
 'sangli',
 'shimla',
 'siliguri',
 'solapur',
 'srinagar',
 'thiruvananthapuram',
 'thrissur',
 'vijayawada',
 'vellore',
 'warangal',
 'surat',
 'visakhapatnam']

In [4]:
config = {"user_key": "82620001ca282d1716dab0d934fb3051"}
zomato = zomatopy.initialize_app(config)

In [5]:
dit = zomato.get_location("kolkata",1)
print(dit)

{"location_suggestions":[{"entity_type":"city","entity_id":2,"title":"Kolkata","latitude":22.572646,"longitude":88.363895,"city_id":2,"city_name":"Kolkata","country_id":1,"country_name":"India"}],"status":"success","has_more":0,"has_total":0,"user_has_addresses":true}

In [36]:
dit = zomato.get_location("delhi",1)
print(dit)

{"location_suggestions":[{"entity_type":"city","entity_id":1,"title":"Delhi NCR","latitude":28.625789,"longitude":77.210276,"city_id":1,"city_name":"Delhi NCR","country_id":1,"country_name":"India"}],"status":"success","has_more":0,"has_total":0,"user_has_addresses":true}

In [41]:
dit = zomato.get_location("mumbai",1)
print(dit)

{"location_suggestions":[{"entity_type":"city","entity_id":3,"title":"Mumbai","latitude":19.017656,"longitude":72.856178,"city_id":3,"city_name":"Mumbai","country_id":1,"country_name":"India"}],"status":"success","has_more":0,"has_total":0,"user_has_addresses":true}

In [42]:
dit = zomato.get_location("lucknow",1)
print(dit)

{"location_suggestions":[{"entity_type":"city","entity_id":8,"title":"Lucknow","latitude":26.864,"longitude":80.95,"city_id":8,"city_name":"Lucknow","country_id":1,"country_name":"India"}],"status":"success","has_more":0,"has_total":0,"user_has_addresses":true}

In [43]:
dit = zomato.get_location("asansol",1)
print(dit)

{"location_suggestions":[{"entity_type":"city","entity_id":11423,"title":"Asansol","latitude":23.6739452,"longitude":86.9523954,"city_id":11423,"city_name":"Asansol","country_id":1,"country_name":"India"}],"status":"success","has_more":0,"has_total":0,"user_has_addresses":true}

In [6]:
d1 = json.loads(dit)

In [7]:
d1["status"]

'success'

In [8]:
rest = zomato.restaurant_search("", 22.572646, 88.363895)
d2 = json.loads(rest)

In [9]:
d2["restaurants"][0]['restaurant']

{'R': {'has_menu_status': {'delivery': -1, 'takeaway': -1},
  'res_id': 19041242},
 'apikey': '82620001ca282d1716dab0d934fb3051',
 'id': '19041242',
 'name': 'The Co Dee Empresa Hotel',
 'url': 'https://www.zomato.com/kolkata/the-co-dee-empresa-hotel-park-street-area?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
 'location': {'address': '12/2A, KYD Street, Park Street Area, Kolkata',
  'locality': 'Park Street Area',
  'city': 'Kolkata',
  'city_id': 2,
  'latitude': '22.5558428300',
  'longitude': '88.3531927317',
  'zipcode': '',
  'country_id': 1,
  'locality_verbose': 'Park Street Area, Kolkata'},
 'switch_to_order_menu': 0,
 'cuisines': 'North Indian, South Indian, Chinese',
 'timings': '7:30 AM to 10:30 PM',
 'average_cost_for_two': 100,
 'price_range': 1,
 'currency': 'Rs.',
 'highlights': ['Dinner',
  'Credit Card',
  'Debit Card',
  'Lunch',
  'Cash',
  'Takeaway Available',
  'Breakfast',
  'Indoor Seating',
  'Air Conditioned',
  'Smoking Area',
  'Digital Payments Accepted'],
 'offers': [],
 'opentable_support': 0,
 'is_zomato_book_res': 0,
 'mezzo_provider': 'OTHER',
 'is_book_form_web_view': 0,
 'book_form_web_view_url': '',
 'book_again_url': '',
 'thumb': '',
 'user_rating': {'aggregate_rating': 0,
  'rating_text': 'Not rated',
  'rating_color': 'CBCBCB',
  'rating_obj': {'title': {'text': '-'},
   'bg_color': {'type': 'grey', 'tint': '400'}},
  'votes': 0},
 'all_reviews_count': 0,
 'photos_url': 'https://www.zomato.com/kolkata/the-co-dee-empresa-hotel-park-street-area/photos?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1#tabtop',
 'photo_count': 0,
 'menu_url': 'https://www.zomato.com/kolkata/the-co-dee-empresa-hotel-park-street-area/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop',
 'featured_image': '',
 'has_online_delivery': 0,
 'is_delivering_now': 0,
 'include_bogo_offers': True,
 'deeplink': 'zomato://restaurant/19041242',
 'is_table_reservation_supported': 0,
 'has_table_booking': 0,
 'events_url': 'https://www.zomato.com/kolkata/the-co-dee-empresa-hotel-park-street-area/events#tabtop?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1',
 'phone_numbers': '033 40021888, +91 9674722554',
 'all_reviews': {'reviews': []},
 'establishment': ['Casual Dining'],
 'establishment_types': {'establishment_type': {'id': '16',
   'name': 'Casual Dining'}}}

In [48]:
Dict = {} 
index = 0
with open('rest.txt', encoding="utf8") as json_file:
    data = json.load(json_file)
    for p in data['restaurants']:
        #print(p['restaurant']['average_cost_for_two'])
        Dict[p['restaurant']['id']] = [p['restaurant']['average_cost_for_two'], p['restaurant']['name'],
                                               float(p['restaurant']['user_rating']['aggregate_rating']),
                                      p['restaurant']['location']['address']]
        print(Dict[p['restaurant']['id']])
        index = index+1

[4500, 'Aqua - The Park', 3.9, 'The Park, 15, Parliament Street, Connaught Place, New Delhi']
[3800, 'Whisky Samba', 4.2, 'Plaza Level, Two Horizon Center, Golf Course Road, Gurgaon']
[3200, 'Dramz', 4.0, '1580/1, KD Marg, Near Qutub Minar, Mehrauli, New Delhi']
[3200, 'Punjab Grill', 4.1, '70, 1st Floor, Khan Market, New Delhi']
[3000, 'Plum By Bent Chair', 4.7, 'The Walk, Worldmark 2, Aerocity, New Delhi']
[3000, 'MKT', 4.2, 'Lower Ground Floor, Chanakya Mall, Chanakyapuri, New Delhi']
[3000, 'The Wine Company', 4.1, 'Cyber Hub, DLF Cyber City, Gurgaon']
[3000, 'Jamun', 4.2, '17, Lodhi Colony, New Delhi']
[3000, 'Punjab Grill', 4.2, '2nd Floor, Food Court, Select Citywalk Mall, Saket, New Delhi']
[3000, 'Atrium Bar  & Lounge - The Suryaa New Delhi', 3.3, 'The Suryaa New Delhi, New Friends Colony, New Delhi']
[2800, 'Rosebud - By The Nook', 4.0, 'Ground Floor, Tower A, Vatika Business Park, Sohna Road, Gurgaon']
[2800, 'Dirty Apron By The Piano Man', 4.0, 'B6-7/22, 2nd Floor, Safdarjung Enclave Market, Opposite Deer Park, Safdarjung, New Delhi']
[2800, "3B's -  Country Inn & Suites", 4.0, 'Country Inn & Suites by Carlson, Sahibabad, Ghaziabad']
[2800, 'Vagator Beach Shack', 4.3, 'Lower Ground Floor 34, South Point Mall, Golf Course Road, Gurgaon']
[2700, 'Punjab Grill', 4.3, 'Pacific Mall, Tagore Garden, New Delhi']
[2700, 'Punjab Grill', 4.1, '401, 4th Floor, Starling Mall, Sector 104, Near Sector 110, Noida']
[2700, 'Punjab Grill', 4.2, '3rd Floor, Food Court, Ambience Mall, DLF Phase 3, Gurgaon']
[2500, 'One8 Commune', 4.5, '8, World Mark 2, IGI Airport, Aerocity, New Delhi']
[2500, 'Comorin', 4.5, '101, 1st Floor, Plaza Level, Two Horizon Center, Golf Course Road, Gurgaon']
[2500, 'Gulati', 4.4, '6, Pandara Road Market, New Delhi']

In [12]:
print(Dict['20849'][1])

IndexError: list index out of range

In [31]:
#sort by cost
ls1 = sorted(Dict.items(), key=lambda e: e[1][0])

In [32]:
ls1

[('24286',
  [1900,
   'The Irish House',
   4.2,
   '33, 5th Floor, Quest Mall, Syed Ali Amir Avenue, Ballygunge, Kolkata']),
 ('18368652',
  [1900,
   'Mamagoto',
   4.5,
   '24, Park Street, Annex Building, Magma House Complex, Park Street Area, Kolkata']),
 ('24205',
  [1900,
   'Bombay Brasserie',
   4.3,
   '33, 5th Floor, Quest Mall, Syed Ali Amir Avenue, Ballygunge, Kolkata']),
 ('21876',
  [1900,
   'Oval Lounge',
   3.5,
   '1st Floor, 101, Tower C, DLF IT Park, Major Arterial Road, New Town, Kolkata']),
 ('21532',
  [1900,
   'Red Xpress',
   3.8,
   'BIPL Building, GP, A2, M2, N2, Sector 5, Salt Lake, Kolkata']),
 ('20849',
  [1900,
   'Saffron - The Park',
   4.1,
   'The Park, 17, Park Street Area, Kolkata']),
 ('18948084',
  [2000,
   'Refinery091',
   4.1,
   '11 & 12, EP Block, Globsyn Crystal, Sector 5, Salt Lake City, Kolkata']),
 ('20927',
  [2000,
   'Mainland China',
   4.4,
   'Shop 330 & 375, 3rd Floor, South City Mall, Prince Anwar Shah Road, Kolkata']),
 ('18217475',
  [2000,
   'Asia Kitchen by Mainland China',
   4.7,
   'Shop 1858/1, 4th Floor, Acropolis Mall, Rajdanga Main Road, Kasba, Kolkata']),
 ('18166940',
  [2000,
   'Beer Republic',
   3.8,
   '89C, Maulana Abul Kalam Azad Sarani, Near Swabhumi, Kankurgachi, Kolkata']),
 ('21574',
  [2000,
   'Aaheli',
   3.4,
   '106, 4th Floor, Block CS, Axis Mall, 106, Major Arterial Road, New Town, Kolkata']),
 ('23923',
  [2000,
   'Mirage - The Stadel',
   3.9,
   'The Stadel, Gate 3, Salt Lake Stadium, Sector 3, Salt Lake']),
 ('21542',
  [2000,
   'The Big Ben - Kenilworth Hotel',
   3.7,
   '1&2, Kenilworth Hotels, Little Russel Street, Russel Street, Kolkata, Theatre Road, Kolkata']),
 ('18761167',
  [2100,
   'Echoes Kolkata',
   4.7,
   'Shop 86 A, Main 6th Floor, Haute Street, Corporate Park, Topsia Road, Seal Lane, Topsia, Kolkata']),
 ('18440204',
  [2100,
   'Social Kitchen - Holiday Inn',
   4.0,
   'Holiday Inn, Biswa Bangla Sarani, Chinar Park, Kolkata']),
 ('21220',
  [2100,
   'Flame N Grill Restaurant',
   4.1,
   '164/1, 4th Floor, Mani Square Mall, E.M. Bypass, Kankurgachi, Kolkata']),
 ('18343750',
  [2100,
   'SpiceKlub',
   4.2,
   '1st Floor, 24, Park Street, Annex Building, Magma House Complex, Park Street Area, Kolkata']),
 ('18620365',
  [2500,
   'Capella - Altair Boutique Hotel',
   4.2,
   '20th Floor, Altair Boutique Hotel, Eco Center Ambuja Neotia, EM 4, Sector 5, Salt Lake, Kolkata']),
 ('18398880',
  [3000,
   'JW Kitchen - JW Marriott Hotel',
   4.4,
   'JW Marriott Hotel, 4A, J.B.S Haldane Avenue, Science City Area, Kolkata']),
 ('20850',
  [3000,
   'The Bridge - The Park',
   4.0,
   'The Park, 17, Park Street, Park Street Area, Kolkata'])]

In [49]:
#sorted(Dict.items(), key=lambda x: x[1], reverse=True)
ls = sorted(Dict.items(), key=lambda e: e[1][2], reverse=True)

In [50]:
ls

[('18895645',
  [3000,
   'Plum By Bent Chair',
   4.7,
   'The Walk, Worldmark 2, Aerocity, New Delhi']),
 ('19012596',
  [2500,
   'One8 Commune',
   4.5,
   '8, World Mark 2, IGI Airport, Aerocity, New Delhi']),
 ('18896450',
  [2500,
   'Comorin',
   4.5,
   '101, 1st Floor, Plaza Level, Two Horizon Center, Golf Course Road, Gurgaon']),
 ('799', [2500, 'Gulati', 4.4, '6, Pandara Road Market, New Delhi']),
 ('18884058',
  [2800,
   'Vagator Beach Shack',
   4.3,
   'Lower Ground Floor 34, South Point Mall, Golf Course Road, Gurgaon']),
 ('301998',
  [2700, 'Punjab Grill', 4.3, 'Pacific Mall, Tagore Garden, New Delhi']),
 ('18291198',
  [3800,
   'Whisky Samba',
   4.2,
   'Plaza Level, Two Horizon Center, Golf Course Road, Gurgaon']),
 ('18687055',
  [3000,
   'MKT',
   4.2,
   'Lower Ground Floor, Chanakya Mall, Chanakyapuri, New Delhi']),
 ('18601702', [3000, 'Jamun', 4.2, '17, Lodhi Colony, New Delhi']),
 ('2786',
  [3000,
   'Punjab Grill',
   4.2,
   '2nd Floor, Food Court, Select Citywalk Mall, Saket, New Delhi']),
 ('2787',
  [2700,
   'Punjab Grill',
   4.2,
   '3rd Floor, Food Court, Ambience Mall, DLF Phase 3, Gurgaon']),
 ('18653220',
  [3200, 'Punjab Grill', 4.1, '70, 1st Floor, Khan Market, New Delhi']),
 ('306134',
  [3000, 'The Wine Company', 4.1, 'Cyber Hub, DLF Cyber City, Gurgaon']),
 ('18728119',
  [2700,
   'Punjab Grill',
   4.1,
   '401, 4th Floor, Starling Mall, Sector 104, Near Sector 110, Noida']),
 ('307432',
  [3200,
   'Dramz',
   4.0,
   '1580/1, KD Marg, Near Qutub Minar, Mehrauli, New Delhi']),
 ('310457',
  [2800,
   'Rosebud - By The Nook',
   4.0,
   'Ground Floor, Tower A, Vatika Business Park, Sohna Road, Gurgaon']),
 ('18237319',
  [2800,
   'Dirty Apron By The Piano Man',
   4.0,
   'B6-7/22, 2nd Floor, Safdarjung Enclave Market, Opposite Deer Park, Safdarjung, New Delhi']),
 ('6198',
  [2800,
   "3B's -  Country Inn & Suites",
   4.0,
   'Country Inn & Suites by Carlson, Sahibabad, Ghaziabad']),
 ('2769',
  [4500,
   'Aqua - The Park',
   3.9,
   'The Park, 15, Parliament Street, Connaught Place, New Delhi']),
 ('3202',
  [3000,
   'Atrium Bar  & Lounge - The Suryaa New Delhi',
   3.3,
   'The Suryaa New Delhi, New Friends Colony, New Delhi'])]

In [53]:
response = ""
for data in ls:
    response = response + data[1][1] + " in " + data[1][3] + " has been rated " + str(data[1][2]) + "\n"
    print(response)

TypeError: can only concatenate str (not "float") to str