In [76]:
# Importing Pandas and NumPy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
telecom = pd.read_csv("telecom_churn_data.csv", encoding = "ISO-8859-1", header= 0)
telecom.head(10)

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.40,0.00,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.00,0.00,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.00,0.00,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.00,0.00,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.00,0.00,0.00,0.00
5,7000286308,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,50.258,...,0,NaN,NaN,NaN,NaN,1471,0.00,0.00,0.00,0.00
6,7001051193,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,429.023,...,0,NaN,NaN,NaN,NaN,1673,0.00,0.00,0.00,0.00
7,7000701601,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,1069.180,...,0,NaN,NaN,NaN,NaN,802,57.74,19.38,18.74,0.00
8,7001524846,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,378.721,...,0,NaN,1.0,1.0,NaN,315,21.03,910.65,122.16,0.00
9,7001864400,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,119.518,...,0,NaN,1.0,NaN,NaN,902,0.00,0.00,0.00,0.00

# Data Preparation

In [78]:
telecom.shape

(99999, 226)

In [79]:
telecom.columns

Index(['mobile_number', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou',
       'loc_ic_t2o_mou', 'last_date_of_month_6', 'last_date_of_month_7',
       'last_date_of_month_8', 'last_date_of_month_9', 'arpu_6',
       ...
       'sachet_3g_9', 'fb_user_6', 'fb_user_7', 'fb_user_8', 'fb_user_9',
       'aon', 'aug_vbc_3g', 'jul_vbc_3g', 'jun_vbc_3g', 'sep_vbc_3g'],
      dtype='object', length=226)

In [80]:
telecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [81]:
#Remove all columns with only 0 and NaNs
telecom = telecom.loc[:,telecom.any()]

In [82]:
telecom.shape

(99999, 215)

In [83]:
#Removing few columns due to -:
#1. Circle_id not relevant since all are rows have same value
#2. Objective is to find churn based on usage, so revenue based columns not needed
#3. Stored last date of month in separate variables

cols_to_remove = ["circle_id",
"last_date_of_month_6",
"last_date_of_month_7",
"last_date_of_month_8",
"last_date_of_month_9",
"arpu_6",
"arpu_7",
"arpu_8",
"arpu_9",
"arpu_3g_6",
"arpu_3g_7",
"arpu_3g_8",
"arpu_3g_9",
"arpu_2g_6",
"arpu_2g_7",
"arpu_2g_8",
"arpu_2g_9"]

In [84]:
telecom = telecom.drop(cols_to_remove, axis = 1)

In [85]:
telecom.shape

(99999, 198)

###### Filtering out the High Value customers based on their recharge amount

In [86]:
#Adding columns for average recharge amount in months 6 and 7
telecom["avg_rech_amt_6_7"] = (telecom['total_rech_amt_6'] + telecom['total_rech_amt_7'])/2

In [87]:
# Calculating 70th percentile of the average value
final_avg_value_6_7 = telecom["avg_rech_amt_6_7"].quantile(0.7)
final_avg_value_6_7

368.5

In [88]:
telecom = telecom.loc[(telecom["avg_rech_amt_6_7"] > final_avg_value_6_7),:]

In [89]:
telecom.shape

(29979, 199)

###### Finding the churned customers based on data of 4th month

In [90]:
telecom["churn"] = (telecom["total_ic_mou_9"]==0) & (telecom["total_og_mou_9"]==0) & (telecom["vol_3g_mb_9"]==0) & (telecom["vol_2g_mb_9"]==0)

In [91]:
telecom.shape

(29979, 200)

In [92]:
telecom.loc[(telecom["churn"] == 1),:]

,mobile_number,onnet_mou_6,onnet_mou_7,onnet_mou_8,onnet_mou_9,offnet_mou_6,offnet_mou_7,offnet_mou_8,offnet_mou_9,roam_ic_mou_6,...,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,avg_rech_amt_6_7,churn
7,7000701601,57.84,54.68,52.29,NaN,453.43,567.16,325.91,NaN,16.23,...,NaN,NaN,NaN,802,57.74,19.38,18.74,0.0,1185.0,True
97,7000589828,433.59,415.66,221.06,NaN,74.54,43.66,31.86,NaN,0.00,...,NaN,NaN,NaN,502,0.00,0.00,0.00,0.0,380.0,True
111,7001300706,55.19,3.26,NaN,NaN,45.51,12.34,NaN,NaN,0.00,...,NaN,NaN,NaN,332,0.00,0.00,0.00,0.0,441.0,True
143,7000106299,1325.91,28.61,NaN,NaN,13.91,1.89,NaN,NaN,0.00,...,NaN,NaN,NaN,264,0.00,0.00,0.00,0.0,418.0,True
188,7000340381,4.38,0.98,NaN,NaN,105.16,39.39,NaN,NaN,0.00,...,NaN,NaN,NaN,244,0.00,831.48,1223.04,0.0,492.0,True
199,7002311591,288.56,376.66,111.61,7.13,186.59,1326.06,771.14,12.98,52.96,...,NaN,NaN,NaN,1145,0.00,0.00,0.00,0.0,633.0,True
320,7000959346,120.19,236.14,1.71,NaN,2082.18,2532.03,408.54,NaN,0.00,...,NaN,NaN,NaN,896,0.00,0.00,0.00,0.0,1828.5,True
358,7002255278,68.34,38.93,NaN,NaN,550.18,209.68,NaN,NaN,19.39,...,1.0,NaN,NaN,2597,1.22,17.89,383.36,0.0,750.0,True
478,7000104470,1241.99,1026.66,0.00,NaN,112.91,115.13,0.00,NaN,0.00,...,NaN,NaN,NaN,356,0.00,0.00,0.00,0.0,646.0,True
490,7000369789,189.51,NaN,NaN,NaN,920.18,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,341,0.00,0.00,0.00,0.0,393.0,True
527,7000142585,200.06,102.58,NaN,NaN,1008.21,772.28,NaN,NaN,0.00,...,0.0,NaN,NaN,280,0.00,0.00,0.00,0.0,612.5,True
539,7000670087,199.04,NaN,NaN,NaN,132.31,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,714,0.00,0.00,644.38,0.0,416.5,True
549,7000488051,26.78,47.58,0.00,NaN,213.53,295.74,94.94,NaN,0.00,...,NaN,NaN,NaN,735,0.00,0.00,0.00,0.0,427.0,True
578,7000248548,718.01,212.73,NaN,0.00,487.06,139.71,NaN,1.26,0.00,...,NaN,NaN,NaN,274,0.00,0.00,0.00,0.0,468.5,True
590,7001115493,6.09,0.00,7.23,0.00,371.63,1.26,269.69,10.03,4.69,...,NaN,NaN,NaN,2372,0.00,0.00,0.00,0.0,415.0,True
594,7000409785,424.98,328.73,363.98,0.68,457.09,361.34,391.68,0.73,315.29,...,NaN,NaN,NaN,679,0.00,0.00,0.00,0.0,726.0,True
679,7000066601,31.11,0.00,9.59,NaN,1579.26,0.00,361.43,NaN,0.00,...,NaN,NaN,NaN,225,0.00,0.00,0.00,0.0,490.0,True
690,7000185697,54.14,13.78,NaN,NaN,741.88,910.58,NaN,NaN,0.00,...,1.0,NaN,NaN,228,0.00,0.00,0.00,0.0,2273.5,True
691,7001805356,1634.26,1757.49,1370.29,33.54,121.54,80.64,76.23,7.63,0.00,...,0.0,0.0,0.0,2504,0.00,0.00,0.00,0.0,1017.0,True
720,7002210273,28.34,14.04,47.88,NaN,109.26,124.53,32.14,NaN,2.36,...,NaN,NaN,NaN,647,0.00,0.00,0.00,0.0,384.0,True
723,7000684775,4.98,26.99,NaN,NaN,370.34,1007.19,NaN,NaN,0.00,...,NaN,NaN,NaN,844,0.00,0.00,0.00,0.0,700.5,True
746,7000934585,58.43,310.63,189.04,NaN,478.19,530.24,328.81,NaN,0.00,...,NaN,NaN,NaN,283,0.00,0.00,0.00,0.0,394.5,True
763,7000234200,731.71,419.24,0.00,0.00,172.83,80.48,2.46,0.00,0.00,...,NaN,NaN,NaN,650,0.00,0.00,0.00,0.0,760.0,True
780,7001951091,234.79,92.76,0.00,0.00,1863.29,1426.29,0.00,0.00,0.00,...,NaN,NaN,NaN,486,0.00,0.00,0.00,0.0,798.0,True
844,7000138471,2099.68,1478.21,1302.31,NaN,5081.01,5194.83,1019.23,NaN,83.23,...,0.0,0.0,NaN,781,0.00,0.00,0.00,0.0,3294.0,True
845,7000945323,110.04,28.73,NaN,NaN,610.93,198.54,NaN,NaN,0.00,...,NaN,NaN,NaN,3197,0.00,5.35,157.22,0.0,620.0,True
895,7000436570,1789.14,660.43,NaN,NaN,221.44,46.26,NaN,NaN,0.00,...,NaN,NaN,NaN,363,0.00,0.00,0.00,0.0,602.5,True
933,7000006367,72.91,17.01,NaN,NaN,433.46,70.91,NaN,NaN,0.00,...,1.0,NaN,NaN,235,0.00,26.81,78.81,0.0,546.5,True
947,7002305699,53.28,29.96,0.00,0.00,1033.71,100.61,0.00,0.60,0.00,...,NaN,NaN,NaN,806,0.00,0.00,0.00,0.0,385.5,True
999,7000349909,0.00,44.16,21.39,2.53,70.48,822.61,383.56,413.13,69.31,...,NaN,NaN,NaN,470,0.00,0.00,0.00,0.0,526.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99081,7001265726,51.19,26.83,1.30,NaN,2417.58,2943.56,759.56,NaN,0.00,...,NaN,NaN,NaN,551,0.00,0.00,0.00,0.0,1419.0,True
99087,7000231235,267.44,520.88,699.49,14.73,269.14,589.13,648.96,0.33,1.03,...,NaN,NaN,NaN,405,0.00,0.00,0.00,0.0,631.0,True
99132,7001415723,1925.13,81.06,145.74,13.28,559.24,0.40,67.39,4.23,0.00,...,NaN,NaN,NaN,833,0.00,0.00,0.00,0.0,595.0,True
99161,7002280805,235.49,448.01,362.74,122.68,7.73,45.94,46.61,31.23,0.00,...,NaN,NaN,NaN,1885,0.00,0.00,0.00,0.0,473.5,True
99180,7001425320,276.31,435.19,200.58,NaN,709.46,1058.88,485.93,NaN,167.49,...,1.0,NaN,NaN,661,720.43,449.27,252.47,0.0,1240.0,True
99184,7002003299,788.78,830.74,917.41,0.00,151.04,182.13,130.08,0.00,4.65,...,NaN,NaN,NaN,539,0.00,0.00,0.00,0.0,609.5,True
99246,7001682578,3468.44,2951.21,NaN,NaN,599.89,681.58,NaN,NaN,1.93,...,NaN,NaN,NaN,1540,0.00,0.00,0.00,0.0,2113.5,True
99320,7000773540,65.16,86.89,91.16,0.00,731.48,778.61,432.63,0.00,0.00,...,0.0,NaN,NaN,1809,0.00,0.00,0.00,0.0,508.5,True
99323,7000365295,1775.39,480.11,NaN,NaN,0.00,264.11,NaN,NaN,0.00,...,NaN,NaN,NaN,346,0.00,0.00,0.00,0.0,561.0,True
99342,7001312918,243.74,189.14,0.00,NaN,300.99,276.13,0.00,NaN,0.00,...,NaN,NaN,NaN,430,0.00,0.00,0.00,0.0,394.0,True
99346,7002227396,1258.34,1297.71,601.11,39.06,297.78,270.63,303.56,62.63,0.00,...,0.0,0.0,NaN,939,0.00,0.00,0.00,0.0,892.0,True
99395,7000773138,74.49,84.14,101.41,NaN,669.33,512.29,380.33,NaN,0.00,...,NaN,NaN,NaN,606,0.00,0.00,0.00,0.0,396.0,True
99431,7000635707,415.79,30.98,5.46,NaN,328.94,8.28,0.00,NaN,2144.13,...,NaN,NaN,NaN,443,0.00,0.00,0.00,0.0,432.0,True
99436,7000180826,68.04,57.24,NaN,NaN,230.38,139.71,NaN,NaN,0.00,...,1.0,NaN,NaN,1210,0.00,178.91,680.10,0.0,411.0,True
99498,7001684911,306.23,437.73,314.38,147.88,278.21,331.04,819.51,103.83,0.00,...,1.0,1.0,NaN,989,0.00,0.00,0.00,0.0,507.5,True
99518,7000405289,138.28,100.81,13.86,4.96,570.96,423.64,25.64,12.16,0.00,...,NaN,NaN,NaN,535,0.00,0.00,0.00,0.0,394.0,True
99565,7000958676,311.73,193.46,18.04,0.35,1053.76,600.23,29.96,0.83,0.00,...,NaN,NaN,NaN,1047,0.00,0.00,0.00,0.0,716.0,True
99611,7000419422,NaN,578.43,563.58,220.26,NaN,127.39,77.09,80.76,NaN,...,NaN,1.0,NaN,760,0.00,52.39,0.00,0.0,484.0,True
99613,7002155606,6.06,5.34,0.00,NaN,282.39,388.59,41.16,NaN,125.09,...,NaN,NaN,NaN,573,0.00,0.00,0.00,0.0,591.0,True
99700,7000084762,205.18,53.86,NaN,NaN,127.83,91.86,NaN,NaN,0.00,...,1.0,NaN,NaN,193,0.00,68.28,501.76,0.0,455.5,True
99717,7001085238,420.81,570.36,317.06,NaN,431.93,432.59,267.31,NaN,46.56,...,1.0,NaN,NaN,673,0.00,15.92,75.23,0.0,962.5,True
99726,7000224828,43.23,693.31,0.00,NaN,123.61,676.78,0.00,NaN,0.00,...,NaN,NaN,NaN,574,0.00,0.00,0.00,0.0,453.5,True
99763,7000167531,92.44,103.03,2.90,0.00,43.24,108.24,7.76,0.00,7.43,...,1.0,NaN,NaN,849,0.00,0.00,0.00,0.0,401.0,True
99790,7000008246,154.31,NaN,NaN,NaN,430.63,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,194,0.00,0.00,0.00,0.0,1159.0,True
99821,7002225468,190.24,223.64,172.96,80.78,272.11,379.03,518.79,56.89,0.00,...,NaN,NaN,NaN,245,0.00,0.00,0.00,0.0,1275.0,True
99827,7000231239,1263.94,0.06,NaN,NaN,151.26,0.00,NaN,NaN,385.51,...,NaN,NaN,NaN,509,0.00,0.00,0.00,0.0,673.0,True
99868,7000556474,230.93,73.76,55.93,48.19,194.11,191.04,59.06,33.64,0.00,...,1.0,1.0,NaN,730,0.00,0.00,0.00,0.0,664.0,True
99885,7000229809,741.94,931.84,966.33,4.74,63.53,27.08,50.06,0.83,0.00,...,NaN,NaN,NaN,529,0.00,0.00,0.00,0.0,532.0,True
99887,7001271496,326.06,299.59,8.61,0.00,522.14,514.78,436.74,0.03,172.53,...,NaN,NaN,NaN,485,0.00,0.00,0.00,0.0,880.5,True
99961,7000992757,75.24,168.46,65.79,NaN,123.96,231.99,132.51,NaN,0.00,...,NaN,NaN,NaN,2168,0.00,41.99,112.64,0.0,408.0,True

In [93]:
# Removing the columns related to the 4th month
telecom = telecom.loc[:,~telecom.columns.str.endswith('_9')]

In [94]:
telecom["churn"] = telecom["churn"].astype(int)

In [95]:
telecom.head(10)

,mobile_number,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,...,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,avg_rech_amt_6_7,churn
7,7000701601,57.84,54.68,52.29,453.43,567.16,325.91,16.23,33.49,31.64,...,NaN,NaN,NaN,802,57.74,19.38,18.74,0.0,1185.0,1
8,7001524846,413.69,351.03,35.08,94.66,80.63,136.48,0.00,0.00,0.00,...,NaN,1.0,1.0,315,21.03,910.65,122.16,0.0,519.0,0
13,7002191713,501.76,108.39,534.24,413.31,119.28,482.46,23.53,144.24,72.11,...,NaN,NaN,1.0,2607,0.00,0.00,0.00,0.0,380.0,0
16,7000875565,50.51,74.01,70.61,296.29,229.74,162.76,0.00,2.83,0.00,...,NaN,NaN,NaN,511,0.00,2.45,21.89,0.0,459.0,0
17,7000187447,1185.91,9.28,7.79,61.64,0.00,5.54,0.00,4.76,4.81,...,NaN,NaN,NaN,667,0.00,0.00,0.00,0.0,408.0,0
21,7002124215,102.41,132.11,85.14,757.93,896.68,983.39,0.00,0.00,0.00,...,NaN,NaN,NaN,720,0.00,0.00,0.00,0.0,640.0,0
24,7001125315,124.19,55.19,141.11,450.33,370.48,283.36,9.30,0.00,13.83,...,NaN,NaN,NaN,3072,0.00,0.00,0.00,0.0,385.0,0
33,7000149764,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,1.0,1.0,1.0,1328,358.10,2706.83,1714.67,0.0,1932.0,0
38,7000815202,248.99,619.96,666.38,88.86,50.58,97.81,0.00,0.00,0.00,...,NaN,NaN,NaN,1155,0.00,0.00,0.00,0.0,528.0,0
41,7000721289,86.39,118.88,80.44,232.36,280.78,136.69,0.00,0.00,0.00,...,NaN,NaN,NaN,2010,0.00,0.00,0.00,0.0,503.0,0

###### Checking for missing values

In [96]:
#Checking for NaN values in the dataset
telecom.isnull().sum().sort_values(ascending=False)

date_of_last_rech_data_6    18592
count_rech_3g_6             18592
count_rech_2g_6             18592
av_rech_amt_data_6          18592
night_pck_user_6            18592
total_rech_data_6           18592
fb_user_6                   18592
max_rech_data_6             18592
count_rech_2g_7             18327
max_rech_data_7             18327
night_pck_user_7            18327
total_rech_data_7           18327
date_of_last_rech_data_7    18327
fb_user_7                   18327
av_rech_amt_data_7          18327
count_rech_3g_7             18327
night_pck_user_8            18238
av_rech_amt_data_8          18238
date_of_last_rech_data_8    18238
count_rech_3g_8             18238
count_rech_2g_8             18238
max_rech_data_8             18238
total_rech_data_8           18238
fb_user_8                   18238
loc_ic_t2t_mou_8              938
loc_og_mou_8                  938
std_og_t2t_mou_8              938
std_og_t2m_mou_8              938
loc_ic_t2m_mou_8              938
ic_others_8                   938
                            ...
sachet_3g_7                     0
sachet_3g_8                     0
aon                             0
aug_vbc_3g                      0
jul_vbc_3g                      0
jun_vbc_3g                      0
sep_vbc_3g                      0
vol_3g_mb_7                     0
vol_2g_mb_8                     0
total_og_mou_7                  0
total_rech_amt_6                0
total_og_mou_8                  0
avg_rech_amt_6_7                0
total_ic_mou_6                  0
total_ic_mou_7                  0
total_ic_mou_8                  0
total_rech_num_6                0
total_rech_num_7                0
total_rech_num_8                0
total_rech_amt_7                0
vol_2g_mb_7                     0
total_rech_amt_8                0
max_rech_amt_6                  0
max_rech_amt_7                  0
max_rech_amt_8                  0
last_day_rch_amt_6              0
last_day_rch_amt_7              0
last_day_rch_amt_8              0
vol_2g_mb_6                     0
mobile_number                   0
Length: 152, dtype: int64

In [97]:
telecom.columns[telecom.isnull().sum()/len(telecom.index) > 0.3]

Index(['date_of_last_rech_data_6', 'date_of_last_rech_data_7',
       'date_of_last_rech_data_8', 'total_rech_data_6', 'total_rech_data_7',
       'total_rech_data_8', 'max_rech_data_6', 'max_rech_data_7',
       'max_rech_data_8', 'count_rech_2g_6', 'count_rech_2g_7',
       'count_rech_2g_8', 'count_rech_3g_6', 'count_rech_3g_7',
       'count_rech_3g_8', 'av_rech_amt_data_6', 'av_rech_amt_data_7',
       'av_rech_amt_data_8', 'night_pck_user_6', 'night_pck_user_7',
       'night_pck_user_8', 'fb_user_6', 'fb_user_7', 'fb_user_8'],
      dtype='object')

In [98]:
# Few columns are found to be important for our case study 
# Out of the cols where more than 30% data missing, it shows that almost 2/3 of customers dont use those services.
# The customers with data services are important and thus these cols cannot be deleted.
# Few cols with more than 60% missing data are irrevalent are in our study and are dropped.
del_cols = ["date_of_last_rech_data_6","date_of_last_rech_data_7","date_of_last_rech_data_8","max_rech_data_6","max_rech_data_7",
           "max_rech_data_8"]

In [99]:
# Drop columns with Null values greater than 30%
telecom = telecom.drop(del_cols, axis=1)

In [100]:
telecom.shape

(29979, 146)

In [101]:
newnulldf = telecom.columns[telecom.isnull().sum()/len(telecom.index) > 0.0]

###### Treating the missing values with zero 
After checking the dataset and according to the telecom domain, it can be concluded that the missing values are due to various factors -:
1> The customer may have joined at the 7th or 8th month, so no data available for other months.
2> Huge number of columns have more than 75% rows as zero.
3> Huge number of people dont use data services.

In [102]:
#Replace Nan values with zeros
dates = ["date_of_last_rech_6", "date_of_last_rech_7", "date_of_last_rech_8"]
for col_name in newnulldf:
    if col_name not in dates:
        telecom.loc[pd.isnull(telecom[col_name]), [col_name]] = 0
    else:
        telecom.loc[pd.isnull(telecom[col_name]), [col_name]] = "01/01/1970"

In [103]:
telecom["date_of_last_rech_6"] = pd.to_datetime(telecom["date_of_last_rech_6"], format="%m/%d/%Y")
telecom["date_of_last_rech_7"] = pd.to_datetime(telecom["date_of_last_rech_7"], format="%m/%d/%Y")
telecom["date_of_last_rech_8"] = pd.to_datetime(telecom["date_of_last_rech_8"], format="%m/%d/%Y")

In [104]:
telecom.isnull().sum()

mobile_number       0
onnet_mou_6         0
onnet_mou_7         0
onnet_mou_8         0
offnet_mou_6        0
offnet_mou_7        0
offnet_mou_8        0
roam_ic_mou_6       0
roam_ic_mou_7       0
roam_ic_mou_8       0
roam_og_mou_6       0
roam_og_mou_7       0
roam_og_mou_8       0
loc_og_t2t_mou_6    0
loc_og_t2t_mou_7    0
loc_og_t2t_mou_8    0
loc_og_t2m_mou_6    0
loc_og_t2m_mou_7    0
loc_og_t2m_mou_8    0
loc_og_t2f_mou_6    0
loc_og_t2f_mou_7    0
loc_og_t2f_mou_8    0
loc_og_t2c_mou_6    0
loc_og_t2c_mou_7    0
loc_og_t2c_mou_8    0
loc_og_mou_6        0
loc_og_mou_7        0
loc_og_mou_8        0
std_og_t2t_mou_6    0
std_og_t2t_mou_7    0
                   ..
vol_2g_mb_7         0
vol_2g_mb_8         0
vol_3g_mb_6         0
vol_3g_mb_7         0
vol_3g_mb_8         0
night_pck_user_6    0
night_pck_user_7    0
night_pck_user_8    0
monthly_2g_6        0
monthly_2g_7        0
monthly_2g_8        0
sachet_2g_6         0
sachet_2g_7         0
sachet_2g_8         0
monthly_3g_6        0
monthly_3g_7        0
monthly_3g_8        0
sachet_3g_6         0
sachet_3g_7         0
sachet_3g_8         0
fb_user_6           0
fb_user_7           0
fb_user_8           0
aon                 0
aug_vbc_3g          0
jul_vbc_3g          0
jun_vbc_3g          0
sep_vbc_3g          0
avg_rech_amt_6_7    0
churn               0
Length: 146, dtype: int64

In [105]:
telecom[telecom == 0].count(axis=0).sort_values(ascending=False)

og_others_7            29815
og_others_8            29799
night_pck_user_8       29700
night_pck_user_7       29683
night_pck_user_6       29668
spl_ic_mou_7           28331
sachet_3g_8            28252
sachet_3g_7            28022
sachet_3g_6            28001
isd_og_mou_8           27881
spl_ic_mou_8           27563
isd_og_mou_7           27476
sep_vbc_3g             27398
churn                  27390
isd_og_mou_6           27341
monthly_2g_8           26909
monthly_2g_6           26651
monthly_2g_7           26526
monthly_3g_8           26496
monthly_3g_6           26401
monthly_3g_7           26330
std_og_t2f_mou_8       25393
std_og_t2f_mou_7       25115
count_rech_3g_8        25086
std_og_t2f_mou_6       25020
count_rech_3g_6        24802
count_rech_3g_7        24772
sachet_2g_6            24754
sachet_2g_7            24525
roam_ic_mou_7          24244
                       ...
offnet_mou_8            1454
loc_og_t2m_mou_6        1396
loc_og_t2m_mou_7        1268
loc_ic_t2m_mou_6        1235
loc_og_mou_6            1232
loc_og_mou_7            1130
loc_ic_t2m_mou_7        1084
loc_ic_mou_6            1081
total_og_mou_6          1056
total_ic_mou_6           990
total_og_mou_7           972
onnet_mou_6              958
loc_ic_mou_7             956
onnet_mou_7              905
total_ic_mou_7           885
total_rech_num_8         594
max_rech_amt_7           553
total_rech_amt_7         553
offnet_mou_6             534
offnet_mou_7             530
max_rech_amt_6           429
total_rech_amt_6         429
total_rech_num_7         114
total_rech_num_6          62
avg_rech_amt_6_7           0
aon                        0
date_of_last_rech_8        0
date_of_last_rech_7        0
date_of_last_rech_6        0
mobile_number              0
Length: 146, dtype: int64

###### Finding churned customers based on data in the "Action" month

In [337]:
#Getting rows where churn = 0 
telecom_zeros = telecom.loc[(telecom["churn"] == 0),:]
telecom_9_ones = telecom.loc[(telecom["churn"] == 1),:]                 #to be concat

In [338]:
telecom_zeros.shape

(27390, 128)

In [339]:
#If the data of "Action" months are zero
telecom_zeros["churn"] = (telecom_zeros["total_ic_mou_8"]==0) & (telecom_zeros["total_og_mou_8"]==0) & (telecom_zeros["vol_3g_mb_8"]==0) & (telecom_zeros["vol_2g_mb_8"]==0)

C:\Users\Debayan\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [340]:
telecom_8_ones = telecom_zeros.loc[(telecom_zeros["churn"] == 1),:]             #to be concat

In [341]:
telecom_8_ones.shape

(453, 128)

In [342]:
telecom_final =  telecom_zeros.loc[(telecom_zeros["churn"] == 0),:]

In [343]:
telecom_final.shape

(26937, 128)

###### Creating derived attributes from original attributes

In [344]:
telecom_final.columns

Index(['mobile_number', 'onnet_mou_6', 'onnet_mou_7', 'onnet_mou_8',
       'offnet_mou_6', 'offnet_mou_7', 'offnet_mou_8', 'roam_ic_mou_6',
       'roam_ic_mou_7', 'roam_ic_mou_8',
       ...
       'sachet_3g_6', 'sachet_3g_7', 'sachet_3g_8', 'aon', 'aug_vbc_3g',
       'jul_vbc_3g', 'jun_vbc_3g', 'sep_vbc_3g', 'avg_rech_amt_6_7', 'churn'],
      dtype='object', length=128)